# Visual Studio / Rider / .NET
.vs/
*.user
*.suo
*.userprefs
*.csproj.user
*.sln.docstates

# Build Folders
bin/
obj/
Debug/
Release/

# Rider IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# NuGet
*.nupkg
packages/